main {
    display:flex;
    justify-self: start;
    align-self:start;
    input {
        border-radius: 0.2rem;
        box-shadow: none;
        background-color: transparent;
        border: 1px solid rgb(174, 174, 174);
        color: white;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    input:focus {
        border: 1px solid white;
    }
    color: white;
}
.page-container {
    display:block;
    padding: 1.3rem;
    border-radius: 10px;
    width: 80vw;
    h2 {
        font-size: 2rem;
    }
    background: var(--darkBkgrnd);
}
.create-event-box {
    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
    }
    display: flex;
    flex-direction: row;
    min-width: 70vw;
    > .left-box {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: start;
        width: 50%;
    }
    > .left-box > div {
        display: flex;
        flex-direction: column;
    }
    > .right-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }
    > .right-box > div {
        padding: 2rem;
        width: 100%;
    }
    > .right-box > div > div {
        display: flex;
        flex-direction: column;
    }
    > .right-box > div > .date-time-format {
        display: flex;
        flex-direction: row;
    }
    & .event-check-box {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    & .event-check-box > div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.5rem;
    }
    & .event-check-box input:not(.checkBox) {
        width: 3rem;
    }

}
.event-page-button-div {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 1rem;
    button {
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        border: 1px solid white;
        font-size: 0.8rem;
    }
}
.date-time-format {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;

    input {
        width: 30%;
        gap: 1rem;
    }
}
.custom-fields-input {
    display: flex;
    width: 100%;
    flex-direction: row;
    input:not(.custom-field-checkbox) {
        width: 100%;
    }
}
.custom-field-checkbox {
    padding: 0.5rem;
}