main {
    display:flex;
    justify-self: start;
    align-self:start;
    
    input {
        height: 3rem;
        border-radius: 0.2rem;
        box-shadow: none;
        background-color: transparent;
        border: 1px solid rgb(174, 174, 174);
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    input:focus {
        border: 1px solid black;
    }
}
.page-container {
    display:block;
    border-radius: 10px;
    width: 80vw;
    h2 {
        font-size: 2rem;
    }
}
.create-event-box {
    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
    }
    display: flex;
    flex-direction: row;
    min-width: 70vw;
    > .left-box {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: start;
        width: 50%;
        gap: 1rem;
    }
    > .left-box > div {
        display: flex;
        flex-direction: column;
    }
    > .right-box {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: start;
        width: 50%;
        gap: 1rem;
    }
    > .right-box > div {
        width: 100%;
    }
    > .right-box > div > div {
        display: flex;
        flex-direction: column;
        label{
            padding: 0;
        }
    }
    > .right-box > div > .date-time-format {
        display: flex;
        flex-direction: row;
        padding-bottom: 1rem;
    }
    & .event-check-box > div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.5rem;
    }
    & .event-check-box input:not(.checkBox) {
        width: 3rem;
    }

}
.event-page-button-div {
    display: flex;
        flex-direction: row;
        gap: 10rem;
        padding-top: 1rem;
        padding-top: 3rem;
    
    button {
        border-radius: 0.3rem;
        font-size: 0.8rem;
        height: 2.8rem;
        width: 8rem;
        border: 1px solid black;
       
    }
    .canclBtn{
        margin: 0;
    }
}
.date-time-format {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;

    input {
        width: 30%;
    }
}
#upLoad{
    display: flex;
    flex-direction: row;
    .chooseBtn{
        border-radius: 0.3rem;
        font-size: 0.7rem;
        width: 6rem;
        padding: 0.2rem;
        background-color: grey;
        color: white;
        
    }
}
.custom-fields-input {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 1rem;
    button{
        border-radius: 0.3rem;
        font-size: 0.8rem;
        width: 5rem;
        height: 2.8rem;
        background-color: grey;
        color: white;
    }
    input:not(.custom-field-checkbox) {
        width: 100%;
    }
}
.customFieldsContainer{
    width: 64%;
   padding-bottom: 1rem;
}