main {
    display:flex;
    justify-self: start;
    align-self:start;
    input {
        border-radius: 0.2rem;
        box-shadow: none;
        background-color: transparent;
        border: 1px solid rgb(174, 174, 174);
        color: white;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    input:focus {
        border: 1px solid white;
    }
    color: white;
}
.page-container {
    display:block;
    padding: 1.3rem;
    border-radius: 10px;
    width: 80vw;
    h2 {
        font-size: 2rem;
    }
    background: var(--darkBkgrnd);
}
.create-event-box {
    display: flex;
    flex-direction: row;
    min-width: 70vw;
    > .left-box {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        width: 50%;
    }
    > .left-box > div {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }
    > .right-box {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 50%;
    }
    & .event-check-box {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    & .event-check-box > div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.5rem;
    }
    & .event-check-box input:not(.checkBox) {
        width: 3rem;
    }
}