
.eventDetailsContainer {
    background: #497d95;
    display: flex;
    padding: 3rem;
    border-radius: 3rem;

    .eventDetailsLeft {
        padding-right: 4rem;

        img {
            border-radius: 2rem;
            width: 30rem;
        }

        .infoContainer {
            border: white solid 2px;
            border-radius: 2rem;
            margin-top: 4rem;
            padding: 3rem;

            .infoItem {
                display: flex;
                justify-content: space-between;
            }

            .infoItem p {
                font-size: 1.1rem;
                color: white;
                padding: 0.5rem;
            }
        }
    }



    .eventDetailsRight {
        display: flex;
        flex-direction: column;
        color: white;

        .eventInfo p {
            font-size: 1rem;
        }
        
        .eventText p {
            font-size: 1rem;
            padding-top: 3rem;
        }

        .eventInfo h1 {
            font-size: 4rem;
            padding-bottom: 1rem;
            }

        .dateTimePlace {
            padding-top: 1rem;
        }


        .dateTime {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 4rem;
        }
        .dateItem {
            display: flex;

            .dateItem i {
                padding-right: 2rem;
            }
        }

        .timeItem {
            display: flex;
        }
        .place {
            display: flex;
            align-items: center;
            padding-top: 1rem;
        }
        .icon {
            padding-right: 1rem;
            font-size: 1.5rem;
        }

        .btnDiv {
            display: flex;
            justify-content: space-between;
            padding-top: 5rem;

            .buttons {
                width: 10rem;
                height: 3rem;
                font-size: 0.9rem;
            }

            .publishBtn {
                background-color: #0C5F6C;
                color: white;
            }

        }

    }
}
.publisedEvent {
    background-color: white;
    color: black;
}