.homePageHeader {
    color: black;
}

.createEventContainer {
    width: 50%;
    padding-left: 1rem;
    border: black 0.3rem solid;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/

}
.createEventTxt {
    width: 50%;
}
.createEventIcon {
    width: 30%;
    justify-self: center;
}
.homePageContainer {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
}
.eventContainer{
    width: 40%;
}
label {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.followerContainer{
    width: 50%;
    padding-left: 1rem;
}
.calendar{
    width: 40%;
    
}
