
.eventsPageContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  color: black;
}

.eventItemContainer {
  display: grid;
  grid-template-areas:
    "imageContainer ticketInfo"
    "details ticketInfo"
    "details buttonContainer";
  gap: 10px;
  border: 1px solid grey;
  padding: 2rem;
  border-radius: 20px;
  max-width: 150%;
  margin: 5%;
  width: 200%;
  height: auto;
}

.eventImageContainer {
  grid-area: imageContainer;
}

.eventDetails {
  grid-area: details;
  text-align: left;
}

.ticketInfo {
  grid-area: ticketInfo;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttonContainer {
  grid-area: buttonContainer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.eventImage {
  width: 20rem;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.ticketInfo h3 {
  margin: 0;
}

.ticketInfo p {
  margin: 0.25rem 0;
}

.ticketInfo h2 {
  margin: 0.25rem 0;
}

.waitlist {
  color: green;
}

.viewRegistrationsButton, .seeEventButton {
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.viewRegistrationsButton {
  background-color: #ccc;
}

.seeEventButton {
  background-color: #007BFF;
  color: white;
}