.eventsPageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  padding-top: 1rem;
  color: black;
  gap: 9rem;
}

.pageHeader {
  width: 100%;

  .pageTitle {
    color: black;
    font-size: 2rem;
      font-weight: normal;
      padding-bottom: 0.5rem;
  }
}

.eventItemContainer {
  display: grid;
  grid-template-areas:
    "imageContainer ticketInfo"
    "details ticketInfo"
    "details buttonContainer";
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 10px;
  max-width: 150%;
  width: 120%;
}

.eventDetails {
  padding-top: 1rem;
}

.ticketInfoContainer {
  display: flex;
  flex-direction: column;
}

.ticketInfo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buttonContainer {
  grid-area: buttonContainer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
}

.eventImage {
  width: 20rem;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.ticketInfo p {
  padding-top: 0.25rem;
}

.waitlist {
  color: green;
}

.viewRegistrationsButton,
.seeEventButton {
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.viewRegistrationsButton {
  background-color: #ccc;
}

.seeEventButton {
  background-color: #007bff;
  color: white;
  margin-top: 0.5rem;
}