:root {
  --main: #497d95;
  --secondary: #cb4353;
  --darkBkgrnd: #1e3742;
  --mediumGreen: #34A853;
}

* {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


textarea,
input {
  outline: none;
}

.loginContainer label {
  padding-top: 1.5rem;
  font-size: 0.7rem;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem 3.5rem;
  background-color: var(--darkBkgrnd);
  color: white;
  height: 35rem;
  width: 26rem;
}
.formContainer h2 {
  padding-bottom: 0.5rem;
}
.formContainer input {
  height: 2.5rem;
  width: 17.5rem;
  border-radius: 0.2rem;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid rgb(174, 174, 174);
  color: white;
  padding: 0.6rem;
  font-size: 1rem;
}
.formContainer input:focus {
  border: 1px solid white;
}
.loginBtnContainer {
  width: 100%;
  display: flex;
}
.loginBtnContainer .registerToggleBtn {
  border-radius: 0 0.4rem 0.4rem 0;
}
.loginBtnContainer .loginToggleBtn {
  border-radius: 0.4rem 0 0 0.4rem;
}

.formContainer button {
  width: 60%;
  font-size: 12px;
  border: 1px solid black;
  height: 2rem;
}
.loginBtnContainer button:hover {
  border: 1px solid black;
  color: white;
  background-color: var(--main);
}

.formContainer .cntBtn {
  width: 100%;
  border: none;
  margin: 2rem;
  background-color: var(--mediumGreen);
  color: white;
  border-radius: 0.4rem;
}
.formContainer .InfoLink{
  align-items: centerss;
}

.InfoLink{
  font-style: italic;
  font-size: x-small;
}

.loginContainer .cntBtn:hover {
}

.profileInfoContainer {
  display: flex;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem 3.5rem;
  background-color: var(--darkBkgrnd);
  color: white;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
}
.profileInfoContainer div {
  padding: 1rem;
}

.allergyContainer {
  display: flex;
  flex-direction: column;
}

.allergyOutput {
  height: 50%;
  width: 100%;
  border: white 1px solid;
}
.btnDiv {
  display: flex;
  width: 100%;
}
.btnDiv button {
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.allergyBtnDiv {
  display: flex;
}
