:root {
  --main: #497d95;
  --secondary: #cb4353;
  --darkBkgrnd: #1e3742;
}

* {
  -webkit-appearance: none;
  appearance: none;

  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

textarea,
input {
  outline: none;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem 3.5rem;
  background-color: var(--darkBkgrnd);
  color: white;
  label {
    padding-top: 1rem;
    font-size: 0.5rem;
  }
}

.loginBtnContainer {
  width: 100%;
  display: flex;
  .registerToggleBtn {
    border-radius: 0 0.4rem 0.4rem 0;
  }
  .loginToggleBtn {
    border-radius: 0.4rem 0 0 0.4rem;
  }
  button:hover {
    border: 1px solid black;
    color: white;
    background-color: var(--main);
  }
}

/* Registration form  */
.formContainer {
  h2 {
    padding-bottom: 0.5rem;
  }
  button {
    width: 60%;
    font-size: 10px;
    border: 1px;
    height: 2rem;
  }
  .cntBtn {
    width: 100%;
    border: none;
    margin: 2rem;
    background-color: var(--secondary);
    color: white;
    border-radius: 0.4rem;
    border-color: black;
  }
  input {
    height: 1rem;
    border-radius: 0.2rem;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgb(174, 174, 174);
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  input:focus {
    border: 1px solid white;
  }
}

hr {
  width: 225%;
}

.profileInfoContainer {
  h2 {
    font-size: 1rem;
    font-weight: normal;
  }
  width: 70%;
  height: 100%;
  display: flex;
  border-radius: 1rem;
  padding: 2rem 3.5rem;
  background-color: var(--darkBkgrnd);
  color: white;
  div {
    padding: 1rem;
  }
  font-family: "Inter", sans-serif;
  font-size: 0.6rem;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
}

.allergyContainer {
  display: flex;
  flex-direction: column;
}

#allergyInput {
  margin-left: -1rem;
  margin-top: 0.9rem;
  width: 5rem;
}

.allergyOutput {
  height: 100%;
  width: 72%;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 0.3rem;
}
.btnDiv {
  display: flex;
  flex-direction: row;
  width: 10rem;
  margin-left: -1rem;
  margin-bottom: -1rem;
  button {
    border-radius: 0.3rem;
  }
}

.addBtn {
  width: 100%;
  background-color: #497d95;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  justify-content: center;
  margin-top: 0.9rem;
  margin-left: 0.5rem;
}

.canclBtn {
  border-color: black;
  margin-right: 1rem;
}

.createBtn {
  background-color: #497d95;
  color: white;
}

.allergyBtnDiv {
  display: flex;
}

.navHeader {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #d6d5d5;
  height: 100%;
  top: 0;
  left: 0;
  .navItem {
    padding: 1rem;
    text-decoration: none;
    color: black;
  }
  .navItem:hover {
    color: var(--main);
  }
}
.pwordDetails {
  position: absolute;
  top: 45%;
  left: 70%;
  width: 10rem;
  height: 8rem;
  background-color: white;
  border: 1px solid black;
  color: black;
  z-index: 100;
  display: inline;
}

.dNone {
  display: none;
}
