/*Likt på alle sidene*/
:root {
  --main: #497d95;
  --secondary: #cb4353;
  --darkBkgrnd: #1e3742;
  --mediumGreen: #34a853;
}
* {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  > div {
    display: flex;
  }
  > div > header {
    height: 100vh;
    align-self: start;
  }
  > div > main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 2rem;
  }
}
.dNone {
  display: none;
}
/*Logg inn/ registrer bruker (første side)*/

button {
  border: 1px solid transparent;
}
button:hover {
  border: 1px solid transparent;
}
textarea,
input {
  outline: none;
}
.loginContainer {
  align-self: center;
  justify-self: center;
  height: 60vh;
  max-width: 60%;
  margin-right: 15rem;
  min-height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 3.5rem;
  background-color: var(--darkBkgrnd);
  color: white;
  label {
    padding-top: 1.5rem;
    font-size: 0.9rem;
  }
  h2 {
    padding-bottom: 0.5rem;
  }
  input {
    height: 3rem;
    width: 100%;
    border-radius: 0.2rem;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgb(174, 174, 174);
    color: white;
    padding: 0.6rem;
    font-size: 1rem;
    align-self: flex-start;
  }
  label {
    align-self: flex-start;
  }
  .InfoLink {
    font-size: medium;
    margin-top: 0.5rem;
  }
  .cntBtn {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--mediumGreen);
    color: white;
    border-radius: 0.4rem;
    border-color: black;
  }
  .logInBtn {
    margin-top: 1rem;
  }
}
.loginBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  .registerToggleBtn {
    border-radius: 0 0.4rem 0.4rem 0;
  }
  .loginToggleBtn {
    border-radius: 0.4rem 0 0 0.4rem;
  }
  button {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    height: 3rem;
    width: 80%;
  }
  button:hover {
    border: 1px solid black;
    color: white;
    background-color: var(--main);
  }
}
.inputHover input:focus {
  border: 1px solid white;
}
.pwordDetails {
  position: absolute;
  top: 45%;
  left: 70%;
  width: 10rem;
  height: 8rem;
  background-color: white;
  border: 1px solid black;
  color: black;
  z-index: 100;
  display: inline;
}
.checkBox {
  height: 1rem;
  background-color: white;
}
.checkBox:checked {
  background-color: var(--main);
}

/* Registration form  */
.registerContainer {
  justify-content: center;
  width: 68vw;
  height: 60vh;
  border-radius: 1rem;
  padding: 3.5rem;
  background-color: var(--darkBkgrnd);
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
.headerDiv {
  display: flex;
  width: 100%;
  h2 {
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 0.5rem;
  }
  hr {
    width: 237%;
  }
}
.profileInfoContainer {
  display: flex;
  h2 {
    font-size: 2rem;
    font-weight: normal;
  }
  button {
    width: 60%;
    font-size: 10px;
    border: 1px;
    height: 2rem;
  }
  input {
    height: 3rem;
    border-radius: 0.2rem;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgb(174, 174, 174);
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  input:focus {
    border: 1px solid white;
  }
  > div {
    padding: 1.5rem;
  }
}
hr {
  width: 100%;
}
.userInfoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  input {
    font-size: 1rem;
    padding: 0.9rem;
  }
  label {
    padding: 0.6rem;
    padding-left: 0;
    padding-top: 0;
  }
  .emailContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .emailContainer input {
    width: 100%;
  }

  #dobInput {
    filter: invert(100%);
    color: black;
    border-color: rgb(70, 70, 70);
  }
  #dobInput:focus {
    border: 1px solid black;
  }
}
.icon-inside {
  margin-left: -2rem;
  margin-top: 0.9rem;
}
.allergyContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  .yourAllergies {
    padding: 0.6rem;
    padding-left: 0;
    padding-top: 0;
    margin-top: -0.95rem;
  }
}

.allergyOutput {
  border: 1px solid rgb(174, 174, 174);
  border-radius: 0.3rem;
  overflow-y: scroll;
  min-height: 40%;
  padding: 0.2rem;
  .allergy {
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 0.4rem;
    margin-bottom: 10px;
    font-size: 0.9rem;
    list-style-type: none;
  }
  .trash {
    color: #cb4353;
    margin-left: 1rem;
  }
  ul {
    padding: 0;
  }
  ul li {
    display: flex;
    justify-content: space-between;
  }
}

.btnDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  button {
    border-radius: 0.3rem;
    font-size: 0.8rem;
    height: 2.8rem;
    width: 8rem;
  }
}

.canclBtn {
  border-color: black;
  margin-right: 5.7rem;
}

.createBtn {
  background-color: #497d95;
  color: white;
}
.allergies {
  padding: 0 0 0.6rem 0;
}
.allergyBtnDiv {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  padding-bottom: 1rem !important;

  .addBtn {
    font-size: 0.8rem;
    width: 5rem;
    height: 3rem;
    background-color: #497d95;
    color: white;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
  }
  #allergyInput {
    width: 100%;
    padding: 0.9rem;
  }
}

.disclaimerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  > div {
    width: 30px;
    padding-right: 20px;
    padding-top: 4%;
  }
  .checkBox {
    height: 1rem;
    background-color: white;
  }
  .checkBox:checked {
    background-color: var(--main);
  }
  .disclaimer {
    font-size: 0.8rem;
  }
}
header {
  width: 16rem;
}

/*Navigasjons meny*/

.navHeader {
  display: flex;
  flex-direction: column;
  background-color: #d6d5d5;
  height: 100%;
  align-items: stretch;
  flex:1;
  overflow: auto;
  align-self: auto;
  p {
    display: inline;
    margin-left: 1rem;
  }
  .navItem {
    padding: 2rem;
    text-decoration: none;
    color: black;
  }
  .navItem:hover {
    color: var(--main);
  }
}
.pwordDetails {
  position: absolute;
  top: 45%;
  left: 70%;
  width: 10rem;
  height: 8rem;
  background-color: white;
  border: 1px solid black;
  color: black;
  z-index: 100;
  display: inline;
}

.dNone {
  display: none;
}
/*Organisasjons profil*/
.OrgProfilContainer {
  display: flex;
  width: 100vh;
  height: 100vh;
  flex-direction: column;
  padding: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.headderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    font-size: 2rem;
    font-weight: normal;
  }
}
